@keyframes dash {
  to  {
    stroke-dashoffset: 0;
  }
}

.animate-stroke {
  animation-name: dash;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

